<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScanWatch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ScanWatch.Properties.Settings>
            <setting name="FilenameFilter" serializeAs="String">
                <value>*.PDF</value>
            </setting>
            <setting name="ScanDirectory" serializeAs="String">
                <value>F:\_CLIENT_ID</value>
            </setting>
            <setting name="MaxWaitSeconds" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="AttemptOpenOnCreate" serializeAs="String">
                <value>False</value>
            </setting>
        </ScanWatch.Properties.Settings>
    </applicationSettings>
</configuration>